<nav class="nav nav-social {{ classes ? classes }}">
  <ul class="nav__list nav-social__list">
    <li class="nav__item nav-social__item">
      <a href="#mail" class="nav__link nav-social__link mail">
        {{source('icon-mail--light.svg')}}
        <span class="nav-social__label">Newsletter</span>
      </a>
    </li>
    <li class="nav__item nav-social__item">
      <a href="#" class=" nav__link nav-social__link tumblr">
        {{source('icon-tumblr--light.svg')}}
        <span class="nav-social__label">Tumblr</span>
      </a>
    </li>
    <li class="nav__item nav-social__item">
      <a href="mailto:" class="nav__link nav-social__link facebook">
        {{source('icon-facebook--light.svg')}}
        <span class="nav-social__label">Facebook</span>
      </a>
    </li>
  </ul>
</nav>

