<div class="show__item">
  <a class="show__link" href="{{show__link}}">
    <div class="show__frame">
      <img class="show__image" src="{{show__image.src|resize(370,240)}}" alt="{{show__image.alt}}">
    </div>
    <p class="show__caption">{{show__caption}}</p>
  </a>
</div>