{# page.php #}
{% extends 'Layouts/base.twig' %}

{% block header %}
  {% include 'Partials/Layout/_header.twig' with { hideLogo: true, classes: "header--home" } %}
{% endblock %}

{% block content %}
  <article class="home__content">
    <h1 class="home__logo">
      {{source('home__logo.svg')}}
    </h1>

    {{post.content}}
  </article>
{% endblock %}


{% block footer %}
  {% include 'Partials/Components/_nav-social.twig' with { classes: "nav-social--home" } %}
{% endblock %}