{# page.php #}
{% extends 'Layouts/base.twig' %}

{% block header %}
  {% include 'Partials/Layout/_header.twig' with { hideLogo: true } %}
{% endblock %}

{% block content %}
  <section class="header">
  </section>

  <article class="home-content">
    <h1 class="home__logo">
    {{site.title}}
      {# {{source('logo.svg')}} #}
    </h1>

    {{post.content}}
  </article>
{% endblock %}

