////
/// Headings
///
/// @group Elements
///
////
h1.elementor-heading-title,
h1 {
  margin: 60px 0;
  font-size: 3.5em;
}
h2.elementor-heading-title,
h2 {
  margin: 60px 0;
  font-size: 4.4em;
}
h3.elementor-heading-title,
h3 {
  margin: 40px 0;
  font-size: 2.6em;
}
h4.elementor-heading-title,
h4 {
  margin: 20px 0;
  font-size: 1.8em;
}
h5.elementor-heading-title,
h5 {
  margin: 20px 0;
  font-size: 1.6em;
}
h6.elementor-heading-title,
h6 {
  margin: 15px 0;
  font-size: 1.4em;
}
h1, h2, h3, h4, h5, h6 { 
  font-family: $ff-headings;
  font-weight: $fw-bold;
  line-height: 1.2;
}
