////
/// Colors
///
/// @group Settings
///
////

/// Grey scale
$white: #fff;
$light: #fff;
$grey: #cecece;
$dark: #121131;
$black: #000;

// Transparent grey scale
$black-50: rgba($black, .5);

/// Utility colors
$red: #d9534f;
$green: #5cb85c;

/// Branding colors
$pink: #eb6eaa;
$pink-light: #f082b4;


$color-main: $pink;
$color-main-light: $pink-light;

/// Functionnal colors
$color-text: $dark;
$color-link: $color-main;
$color-error: $red;
$color-valid: $green;
