////
/// Colors
///
/// @group Settings
///
////

/// Grey scale
$white: #fff;
$light: #fff;
$grey: #cecece;
$dark: #121131;
$black: #000;

// Transparent grey scale
$black-50: rgba($black, .5);

/// Utility colors
$red: #d9534f;
$green: #5cb85c;

/// Branding colors
// $pink: #eb6eaa; //flashy sur plein d'écran
// $pink-light: #f082b4; //flashy
$pink: #DA75A8; //un peu fade sur mon écran
$pink-light: #e08ab5; //fade


$color-main: $pink;
$color-main-light: $pink-light;

$gradient-main: linear-gradient(to bottom, $color-main-light, $color-main);

/// Functionnal colors
$color-text: $dark;
$color-link: $color-main;
$color-error: $red;
$color-valid: $green;
