////
/// Fonts
///
/// @group Settings
///
////


/// Font fomily
$ff-headings: 'Montserrat', Arial, sans-serif;
$ff-text: 'Caladea', Arial, sans-serif;

/// Fonts weight
/// They must reflect avalaible weights
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
