{# TODO Add links #}
<section class="footer">
  <div class="footer__wrapper container">
    <div class="footer__content">
      <p class="footer__title">La ponctuelle</p>
      {# <p class="footer__subtitle">Lucien Fradin et Aurore Magnier</p> #}
      <p class="footer__text">La Ponctuelle est la compagnie créée par Aurore Magnier et Lucien Fradin afin d'accueillir leurs créations respectives, leurs travaux en commun et leurs présences artistiques sur les territoires.</p>
      <a href="mailto:laponctuelle@gmail.com" class="button button--light">Contactez-nous</a>
      <p class="footer__contact">
        laponctuelle@gmail.com<br>
        19 rue de Condé 59000 Lille<br>
        SIRET: 84768817300016<br>
        Licence: 2-1124417
      </p>
    </div>

    {% include 'Partials/Components/_nav-social.twig' with { classes: "footer__nav" } %}

  </div>
</section>