
  <section class="footer">
    <ul class="nav nav-social">
      <li class="nav__item nav-social__item">
        <a href="https://instagram.com/atfull_lighting" class="nav__link nav-social__link instagram">
          {{source('icon-instagram.svg')}}
          <span class="nav-social__label">INSTAGRAM</span>
        </a>
      </li>
      <li class="nav__item nav-social__item">
        <a href="https://www.facebook.com/atfullatfull/" class=" nav__link nav-social__link facebook">
          {{source('icon-facebook.svg')}}
          <span class="nav-social__label">FACEBOOK</span>
        </a>
      </li>
      <li class="nav__item nav-social__item">
        <a href="mailto:atfull@atfull.fr" class="nav__link nav-social__link contact">
          {{source('icon-mail.svg')}}
          <span class="nav-social__label">CONTACT</span>
        </a>
      </li>
    </ul>
  </section>