<header id="header" class="header" >
  {% if not hideLogo %}
    <h1 class="logo" role="banner">
      <a class="logo-link" href="/" rel="home">{{site.name}}</a>
    </h1>
  {% endif %}
  {% include 'Partials/Components/_nav-main.twig' %}
</header>
