<header id="header" class="header" >
  {% if not hideLogo %}
    <h1 class="header__logo" role="banner">
      <a class="header__link" href="/" rel="home">
        {{source('header__logo--light.svg')}}
      </a>
    </h1>
  {% endif %}
  {% include 'Partials/Components/_nav-main.twig' %}
</header>
