<div class="gallery-show__item picture">
  <div class="picture__frame">
    <img class="picture__image" src="{{galleryshow__image.src|resize(370,240)}}" alt="{{galleryshow__image.alt}}">
  </div>
  <p class="picture__caption">{{galleryshow__caption}}</p>
</div>