.background-slides{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  &::after {
    content:"";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
  }
}

.background-slides__item{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;

  background-position: center center;
  background-size: cover;
  transform-origin: 55% 45%;
  transform: scale(1);
  // transition: opacity 0s 0s ease-in, transform 0s 0s ease-in;

  &.is-first {
    z-index: 1;
    opacity: 1;
  }

  &.is-active {
    transition: opacity 3s 0s ease-in, transform 8.3s 4s ease-in;
    opacity: 1;
    transform: scale(1.02);
}
  &.is-inactive {
    transform: scale(1.02);
    transition: opacity 3s 0s ease-in, transform 0s 3s ease-in;
    opacity: 0;
  }
}