.chapo {

  @media screen and #{$media-medium} {
    display: flex;
    align-items: center;
  }

}

.chapo__illustration {
  flex-basis: 300px;
  flex-grow: 2;
  margin-bottom: 30px;

  @media screen and #{$media-medium} {
    margin-right: 90px;
    margin-bottom: 0;
  }
}

.chapo__image {
  display: block;
}

.chapo__content {
  flex-basis: 300px;
  flex-grow: 5;
}

.chapo__intro {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2.2em;
  font-weight: $fw-bold;
}

.chapo__text {
  margin-bottom: 40px;
  font-size: 2em;
}

.chapo__caption {
  margin: 5px 0;
  font-size: 1.4em;
}