.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: $color-main;
  background-image: $gradient-main;

  &::after {
    position: absolute;
    content: url("../img/header-border.svg");
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(8px);
    z-index: -1;
    overflow: hidden;
  }
}

.header .nav-main {
  flex-grow: 1;
  min-height: 80px;
  padding: 0 15px 0;

}

.header__logo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 10;
  margin: 0;
  padding: 30px 30px 25px;
}

.header__link {
  display: block;
  color: $light;
  
  svg {
    display: block;
  }

  svg #m-la,
  svg #m-ponctuelle {
    transition: opacity 300ms ease-in-out;
    opacity: .3;
  }

  &:focus,
  &:hover {
    svg {
      filter: drop-shadow( 0 0 2px rgba($light, .9));
    }
    svg #m-la,
    svg #m-ponctuelle {
      opacity: .9;
    }
  }
}


.header__link {
  svg {
    width: 55px;
    
    @media screen and #{$media-large} {
      width: auto;
    }
    
    #m-ponctuelle,
    #ponctuelle {
      display: none;
      @media screen and #{$media-large} {
        display: block;
      }
    }

  }
}