.heading  {
  position: relative;
  margin: 100px 0;

  @media screen and #{$media-small} {
    padding-left: clamp(30px, 15vw, 200px);
  }

  &::after {
    display: block;
    position: absolute;
    z-index: 1;
    content:"";
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6px;
    width: 368px;
    max-width: 100%;
    background-image: url("../img/heading__underline.svg");
  }
}

.heading__title {
  margin: 0;
  font-size: 3em;
  font-weight: $fw-bold;
  text-align: center;
  
  @media screen and #{$media-small} {
    text-align: left;
    font-size: 4em;
  }
  @media screen and #{$media-medium} {
    font-size: 6em;
  }
}