.nav-social {
  margin: 0;
  font-family: $ff-headings;
}

.nav-social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-social__item {
  margin: 0 10px;
  font-size: 1.6em;
  font-weight: $fw-bold;
}

.nav-social__link {
  display: block;
  line-height: 1;
  color: $light;
  
  &:focus,
  &:active,
  &:hover {
    .nav-social__label {
      text-shadow: 0 0 3px rgba($light, .9);
    }
    
    svg {
      filter: drop-shadow( 0 0 2px rgba($light, .9));
    }
  }
}

svg,
.nav-social__label {
  vertical-align: middle;
  transition: 300ms text-shadow, 300ms filter;
}

.nav-social__label {
  margin-left: 5px;
}

.nav-social--home {
  margin: auto;
  padding: 30px 10px;
  max-width: 100%;
  width: 720px;

  .nav-social__list {
    justify-content: space-around;
    align-items: flex-end;
  }

  .nav-social__item {
    margin-bottom: 20px;
    font-size: 2.4em;
    font-weight: $fw-semibold;
  }

  .nav-social__link {
    text-align: center;

    &.facebook svg {
      width: 20px;
      height: auto;
    }
    &.tumblr svg {
      width: 20px;
      height: auto;
    }
    &.mail svg {
      width: 30px;
      height: auto;
    }
  }

  .nav-social__label {
    display: block;
    margin-top: 20px;
  }

}