.nav-social {
  margin: 0;
}

.nav-social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-social__item {
  margin: 0 10px;
  font-size: 1.6em;
  font-weight: $fw-bold;
}

.nav-social__link {
  display: block;
  line-height: 1;
  color: $light;
  
  &:focus,
  &:active,
  &:hover {
    .nav-social__label {
      text-shadow: 0 0 3px rgba($light, .9);
    }
    
    svg {
      filter: drop-shadow( 0 0 2px rgba($light, .9));
    }
  }
}

svg,
.nav-social__label {
  vertical-align: middle;
  transition: 300ms text-shadow, 300ms filter;
}

.nav-social__label {
  margin-left: 5px;
}
